# requirements.in

# Main dependencies
flask
flask-sqlalchemy
mysql-connector-python
alembic
flask-apscheduler
python-dotenv
networkx
tabulate
flask-socketio
eventlet
pytest
pytz
Flask-Admin
celery
redis
memory-profiler
flower
pyyaml
celery-sqlalchemy-scheduler
# Linux
gunicorn
# Windows
pywin32==310; sys_platform == 'win32'